<div class="card-grid">

    <div class="card">
        <h2 class="card-title"><span class="ghost">Loading</span></h2>
        <div class="card-body">
            <p class="card-text ghost"><span class="ghost">Loading Loading Loading Loading</span></p>
        </div>
        <div class="card-footer">
            <span class="ghost">Loading</span>
        </div>
    </div>

    <div class="card">
        <h2 class="card-title"><span class="ghost">Loading</span></h2>
        <div class="card-body">
            <p class="card-text ghost"><span class="ghost">Loading Loading Loading Loading</span></p>
        </div>
        <div class="card-footer">
            <span class="ghost">Loading</span>
        </div>
    </div>

    <div class="card">
        <h2 class="card-title"><span class="ghost">Loading</span></h2>
        <div class="card-body">
            <p class="card-text ghost"><span class="ghost">Loading Loading Loading Loading</span></p>
        </div>
        <div class="card-footer">
            <span class="ghost">Loading</span>
        </div>
    </div>
    
</div>